<%-include("partials/header");-%>

    <!-- <input name="composeInput" type="text"> -->
<div class="conatiner">
    <h1>Compose</h1>
    <form  action="/compose" method="POST" >
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input name="composeTitle" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
    
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Post</label>
          <textarea name="composeBody" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
</div>

<%-include("partials/footer");-%>